body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    hr {
        margin: 0;
    }
    strong {
        color: white;
    }
    h1 {
        margin: 0;
        font-size: 35px;
        color: white;
    }
    h2 {
        margin: 0;
        font-size: 25px;
        color: white;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        color: white;
    }
    h4 {
        margin: 0;
        font-size: 16px;
        color: white;
    }
    p {
        margin: 0;
        font-size: 16px;
    }
    a {
        text-decoration: none;
    }
}

nav {
    .navbar-toggler {
        border: none;
    }
    a.nav-link {
        color: rgb(215, 215, 215);
        margin-right: 20px;
    @media (max-width: 991px) {
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
            div {
                display: flex;
                margin-top: 10px;
            }
        }
    }                     
}                           

main {
    padding-bottom: 135px; /* Altezza del footer */
  }


#hero {
    background-color: none;
    @media (max-width: 767px) {
        .pic, .text {
            text-align: center;
        }

    }
}

#background {
    @media (min-width: 992px) {
        .desktop {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }
    @media (max-width: 767px) {
        .mobile {
            text-align: center;
        }
        p {
            text-align: start;
        }
    }
}

#skill {

}




footer {
    background-color: #101010;
    position: absolute;
    bottom: 0;
    width: 100%;
    a {
        margin: 0px 10px;
    }
    i {
        color: white;
    }
}